.main-timer{
    font-size: 20vh;
    text-align: center;
    color:rgb(248, 172, 32);
}
body{
    background-color: rgb(46, 46, 46);
}
#timer{
    display: flex;
    justify-content: center;
    margin: 25vh auto;
    
}
#newTimer{
    display: flex;
    justify-content: center;
}
button{
    width: 50vh;
    height: 10vh;
    background-color:rgb(248, 172, 32) ;
    color: rgb(46, 46, 46);
    border: 2px solid rgb(214, 140, 2);
    font-size:2.5vh ;
}
button:hover{
    cursor: pointer;
    background-color:rgb(254, 187, 63)
}
#window{
    display: none;
    text-align: center;
    position:absolute;
    z-index: 1;
 
    margin: -75vh 12.5vh;
    height: 75vh;
    background-color: rgb(61, 61, 61);
}
h1{
    margin: 20vh 10vh;
    font-size: 7.5vh;
    color:rgb(248, 172, 32) ;

}
.input-time{
    width: 15vh;
    height: 3vh;
    background-color:rgb(46, 46, 46) ;
    border: 2px solid rgb(214, 140, 2);
    color:rgb(248, 172, 32)  ;
    
}
.input-time::placeholder{
    color: rgba(254, 165, 0, 0.393);
}
#start{
    width: 30vh;
    height: 5vh;
    margin-top: 5vh;
}