body{
    margin-top: 10vh;
    background-color: white;
    color: rgb(34, 34, 34);
    text-align: center;
}
button{
    width: 80%;
    height: 50px;
    border: 0px;
    color:rgb(0, 164, 0);
    font-size: 20px;
    background-color: aliceblue;
}
img{
    
    height: 200px;
    width: auto;
}
form{
    display: none;
    
}
#order{
    margin: 10px;
}
